:root {
    --neon-color: #00fff2; 
}

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif; 
    background-color: #0a0a0a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #1a1a1a, #333333);
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: var(--neon-color); 
    
}

header p {
    margin: 0;
    font-size: 1.2em;
    color: #cccccc;
}


main {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.video-container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.video-container h2 {
    font-size: 1.8em;
    color: var(--neon-color); 
    margin-bottom: 20px;
}

video {
    width: 100%;
    border: 2px solid var(--neon-color); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(90deg, #1a1a1a, #333333);
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    color: #cccccc;
    position:fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}